extends layout

block content

  h1 Author: #{author.name}
  p #{author.date_of_birth} - #{author.date_of_birth}

  div(style='margin-left:20px;margin-top:20px')
    //dl is description list with dt being the item and dd the description
    h4 Books 

    dl 
      each book in authorBooks
        dt 
          a(href=book.url) #{book.title} 
        dd #{book.summary}

      else 
        p This author has no books.